.alice-carousel {
    position: absolute;
}
.maincontainer_mem {
    width: 99%;
    overflow: hidden;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;
    /* background-color: blue; */
    position: relative;
    top: 150px;
    height: 80vh;
    z-index: 0;
}
.maincontainer_mem h1 {
    text-align: center;
    font-size: 35px;
    position: relative;
    margin-block: 3%;
    font-weight: 100;
    letter-spacing: .6em;

}
.maincontainer_mem h1 span {
    color: #0a4456;
}
.mem_images {
    width: 100%;
    height: 50%;
}

.borderOuter{
    /* padding: 10px; */
    /* background-color: yellow; */
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4vw;
}

.borderOuter div{
    height: 5vh;
    width: 50px;
    padding: 10px;
    background-color: #B9F3FC;
    transform: skew(-20deg);
}




@media screen and (max-width: 1400px) {
    .maincontainer_mem h1 {
        font-size: 30px;
    }
    .maincontainer_mem {
        height: 52vw;
    }
}
@media screen and (max-width: 1200px) {
    .maincontainer_mem h1 {
        font-size: 28px;
    }
    .maincontainer_mem {
        height: 52vw;
    }
    .borderOuter{
        bottom: -7%;
    }
}
@media screen and (max-width: 700px) {
    .maincontainer_mem h1 {
        font-size: 24px;
    }
    .maincontainer_mem {
        height: 450px;
    }
}
@media screen and (max-width: 550px) {
    .maincontainer_mem h1 {
        font-size: 20px;
    }

    .borderOuter{
        bottom: 2%;
    }
}
@media (max-height: 730px){
    .borderOuter{
        display: none;
    }

}
@media (max-height: 450px) {
    .maincontainer_mem h1 {
        font-size: 25px;
    }
    .maincontainer_mem {
        height: 500px;
    }
}
